
<% if user_signed_in? %>

  <% if current_user.admin? %>
  <tbody>
	
			<h3> Statistics </h3>	
	
         <p><%= link_to 'Users :', users_path %> <%= User.count %></p> &nbsp;&nbsp;&nbsp;&nbsp;




	 &nbsp;&nbsp;&nbsp;&nbsp;	
 <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/Administrador2.jpeg"  /> </p>
    
		



	
	
      <%elsif%>
       <% if current_user.vip? %>
	   
				&nbsp;&nbsp;&nbsp;&nbsp;
				
				
				<p align='center'>  <img src="http://cooper1.s3.amazonaws.com/vip_user.jpeg"  /> </p>
 
 
      <% else %>
  
 			<div class="body">
            	&nbsp;&nbsp;&nbsp;&nbsp;	
				
				<p align='center'>  <img src="http://cooper1.s3.amazonaws.com/usuario.jpg"  /> </p>
	
	
  	  <% end %>
    <% end %>
  
  
  
<% else %>

<h2 align='center' ><i>COOPERSYSTEM</i></h2>
<h3 align='center'><i>Acompanhe o seu lote ou estoque em conjunto com a sua cooperativa</i></h3>
&nbsp; 
     <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/quimico.jpeg" height="420" width="420" /> </p>

	<h4 align='center'>Contacte-nos através do telefone:55-11-9-8384-6364</h4> 

<% end %>

