/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

atrasadas {
       background-color: #FF0000;
      color: #FFFFFF;
      font-style: italic;
      font-size: 14px;
      width: 30%;
    }


 body {
   color: #2C3539;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 14px;
   line-height: 18px;
   width: 90%;
   height: 1000px;
   float: left;
   margin-left: 5%;
}

space {
   color: #0033FF;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 20px;
   width: 100%;
   height: 5%;
   float: left;
   margin-left: 5%;

}



ind {
   color: #0033FF;
   font-family: helvetica, sans-serif;
   font-size: 12px;
   line-height: 18px;
   width: 30 px;
   height: 50px;
   float: left;
   margin-left: 5%;
   margin-right: 5%;
   background: #FF0099;

}


h1 {
   color: #0020C2;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 28px;
   font-style: oblique
   }
   
h2 {
   	color: #0020C2;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 24px;
    font-style: oblique
 }   

h3 {
	color: #0020C2;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 16px;
   font-style: oblique

}

h4 { 

color: #66CCCC;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 16px;
   font-style: oblique

}


h5 { 

color: #4f6962;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 16px;
   font-style: oblique

}

select{
   color: #4f6962;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 30px;
   font-style: oblique;
   
}

table{
  color: #1C50B0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  font-style: oblique;
  
}

p{
  color: #1D2EEC;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  font-style: oblique;

}

E {
   color: #0020C2;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 36px;
   font-style: oblique
   }

hr {
  width: 100%;
  text-align: right; /* Para o IE */
  margin-right:0 0 0 auto; /* Para navegadores standard */
  border-top-width: 2px;
  border-color: #191970;
  }   
