// Place all the styles related to the Mps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  

 
.left {
      border: 2px;
      color: #2C3539;
      float:left;
      width: 100px;
      font-family: verdana, arial, helvetica, sans-serif;
      font-size: 6px;
      postion: relative;
  }
      
.left {
      border: 2px;
      color: #2C3539;
      float:left;
      width: 100px;
      font-family: verdana, arial, helvetica, sans-serif;
      font-size: 8px;
  }
  

  
